<h2>Buscar Peleas por Evento</h2>
<input type="text" [(ngModel)]="evento" placeholder="Ingrese número de evento o apellido del luchador">
<button (click)="buscarPorEvento()">Buscar</button>

<div *ngIf="peleas.length > 0">
  <h3>Resultados:</h3>
  <table border="1">
    <tr>
      <th>Fecha</th>
      <th>Evento</th>
      <th>Peleador 1</th>
      <th>Peleador 2</th>
      <th>Ganador</th>
      <th>Método</th>
    </tr>
    <tr *ngFor="let pelea of peleas">
      <td>{{ pelea.date }}</td>
      <td>{{ pelea.event }}</td>
      <td>{{ pelea.fighter_1 }}</td>
      <td>{{ pelea.fighter_2 }}</td>
      <td>{{ pelea.winner }}</td>
      <td>{{ pelea.method }}</td>
    </tr>
  </table>
</div>
